@tailwind base;
@tailwind components;
@tailwind utilities;

.home-bg {
    background: url("../img/header.png") no-repeat;
}
.app-top-bg {
    background: url("../img/header_2.png") no-repeat;
}
.certificate-bg {
    background: url("../img/certificated.png") no-repeat;
}
.footer-bg {
    background: url("../img/footer.png") no-repeat;
}
